<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Little Piano</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/piano.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
          integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js"
            integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a"
            crossorigin="anonymous"></script>

    <style>
        body, html {
            height: 100%;
        }

        div {
            webkit-user-select: none; /* Safari 3.1+ */
            moz-user-select: none; /* Firefox 2+ */
            ms-user-select: none; /* IE 10+ */
            user-select: none; /* Standard syntax */
        }

        body {
            background: rgb(184, 96, 105);
            background: radial-gradient(circle, rgba(184, 96, 105, 1) 11%, rgba(121, 25, 34, 1) 35%, rgba(18, 3, 28, 1) 80%);
        }

        .navbar {
            margin-bottom: 0;
            border-radius: 0;
            background-color: #111111;
        }

        footer {
            background-color: #111111;
        }

        .octave_resizer {
            padding-left: 0;
            padding-right: 0;
        }

        a {
            color: orange;
        }

        a:hover {
            color: white;
            background-color: blueviolet;
        }

    </style>
</head>
<body>

<nav class="bg-dark">
    <!-- Links -->
    <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
            <a class="nav-link p-2" href="/"><i class="fas fa-home"></i> Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link p-2" href="/single_octave"><i class="fad fa-piano"></i><i class="fas fa-heart"></i>
                Single Octave Piano</a>
        </li>
        <li class="nav-item">
            <a class="nav-link p-2" href="/full_piano"><i class="fas fa-heartbeat"></i> Three Octaves Piano</a>
        </li>
        <li class="nav-item">
            <a class="nav-link p-2" href="/samples"><i class="fas fa-music"></i> Samples</a>
        </li>
    </ul>
</nav>

<div class="container text-center">
    <div class='row'>
        <div class='col-sm-12 col-xs-12 text-center'>
            <p style='color: cyan; font-size: 7vh'>My Little Piano</p>
        </div>
    </div>

    <div id="piano" class="row container horizontal-scrollable">

    </div>
    <br/>
    <div class='row'>
        <div class='col-sm-12 col-xs-12 text-center' style='font-size: 5vh'>
            <p style="color: yellow">Select the 3 set octave:</p>
        </div>
    </div>
    <br/>
    <div class='row'>
        <div class='col-sm-12 col-xs-12 text-center'>
            <button id='1' type='button' class='btn btn-primary'>Octave 1-3</button>
            <button id='2' type='button' class='btn btn-primary'>Octave 2-4</button>
            <button id='3' type='button' class='btn btn-primary'>Octave 3-5</button>
            <button id='4' type='button' class='btn btn-primary'>Octave 4-6</button>
            <button id='5' type='button' class='btn btn-primary'>Octave 5-7</button>
        </div>
    </div>

</div>


<footer class="page-footer font-small fixed-bottom text-white-50">
    <div class="footer-copyright text-center py-3" style="color: white">© 2020 Copyright: Enachi Vasile SM Proiect</div>
</footer>

</body>
<script>
    var octave = 1;
    var set_octave = 3;

    $('button').on('click', function () {
        set_octave = parseInt(this.id);
        load_three_set_octave();
    });

    function change_octave(octave) {
        $.ajax({
            async: false,
            url: '/set_octave',
            type: 'POST',
            data: {'octave': octave},
        });
    }

    function keys_text() {
        for (let i = 1; i <= 7; i++) {
            $('.octave_' + i + '.k1').html('C' + i);
            $('.octave_' + i + '.k2').html('CS' + i);
            $('.octave_' + i + '.k3').html('D' + i);
            $('.octave_' + i + '.k4').html('DS' + i);
            $('.octave_' + i + '.k5').html('E' + i);
            $('.octave_' + i + '.k6').html('F' + i);
            $('.octave_' + i + '.k7').html('FS' + i);
            $('.octave_' + i + '.k8').html('G' + i);
            $('.octave_' + i + '.k9').html('GS' + i);
            $('.octave_' + i + '.k10').html('A' + i);
            $('.octave_' + i + '.k11').html('AS' + i);
            $('.octave_' + i + '.k12').html('B' + i);
        }
    }

    $(document).ready(load_three_set_octave());

    function load_three_set_octave() {
        let html = [];
        for (let i = set_octave; i < set_octave + 3; i++) {
            html.push(
                '                    <div class=\'col-md-4 col-sm-12 col-xs-12 d-flex justify-content-center octave_resizer\'>\n' +
                '                    <div class=\'octave_' + i + ' c1 whiteKey\'><p class= \'octave_' + i + ' k1 whiteKeyText\'></p></div>\n' +
                '                    <div class=\'octave_' + i + ' c2 blackKey\'><p class= \'octave_' + i + ' k2 blackKeyText\'></p></div>\n' +
                '                    <div class=\'octave_' + i + ' c3 whiteKey\'><p class= \'octave_' + i + ' k3 whiteKeyText\'></p></div>\n' +
                '                    <div class=\'octave_' + i + ' c4 blackKey\'><p class= \'octave_' + i + ' k4 blackKeyText\'></p></div>\n' +
                '                    <div class=\'octave_' + i + ' c5 whiteKey\'><p class= \'octave_' + i + ' k5 whiteKeyText\'></p></div>\n' +
                '                    <div class=\'octave_' + i + ' c6 whiteKey\'><p class= \'octave_' + i + ' k6 whiteKeyText\'></p></div>\n' +
                '                    <div class=\'octave_' + i + ' c7 blackKey\'><p class= \'octave_' + i + ' k7 blackKeyText\'></p></div>\n' +
                '                    <div class=\'octave_' + i + ' c8 whiteKey\'><p class= \'octave_' + i + ' k8 whiteKeyText\'></p></div>\n' +
                '                    <div class=\'octave_' + i + ' c9 blackKey\'><p class= \'octave_' + i + ' k9 blackKeyText\'></p></div>\n' +
                '                    <div class=\'octave_' + i + ' c10 whiteKey\'><p class=\'octave_' + i + ' k10 whiteKeyText\'></p></div>\n' +
                '                    <div class=\'octave_' + i + ' c11 blackKey\'><p class=\'octave_' + i + ' k11 blackKeyText\'></p></div>\n' +
                '                    <div class=\'octave_' + i + ' c12 whiteKey\'><p class=\'octave_' + i + ' k12 whiteKeyText\'></p></div>\n' +
                '                    </div>');
        }
        $("#piano").html(html.join(''));
        keys_text();
    }

    function get_ajax_request(note) {
        switch (note) {
            case 'c1':
                return '/c_note'
            case 'c2':
                return '/cs_note'
            case 'c3':
                return '/d_note'
            case 'c4':
                return '/ds_note'
            case 'c5':
                return '/e_note'
            case 'c6':
                return '/f_note'
            case 'c7':
                return '/fs_note'
            case 'c8':
                return '/g_note'
            case 'c9':
                return '/gs_note'
            case 'c10':
                return '/a_note'
            case 'c11':
                return '/as_note'
            case 'c12':
                return '/b_note'
        }
    }

    $(document).on('mousedown touchstart', '.c1, .c3, .c5, .c6, .c8, .c10, .c12', function (e) {
        let note = $(this).attr('class');
        let note_split = note.split(' ')

        let octave_number = parseInt(note_split[0][note_split[0].length - 1]);
        if (octave_number !== octave) {
            change_octave(octave_number);
            octave = octave_number;
        }

        let item_class = "." + note.replace(/\s/g, '.');
        $(item_class).css('background', '#D8D5D4');

        $.ajax(get_ajax_request(note_split[1]));

    });

    $(document).on('mousedown touchstart', '.c2, .c4, .c7, .c9, .c11', function (e) {
        let note = $(this).attr('class');
        let note_split = note.split(' ');

        let octave_number = parseInt(note_split[0][note_split[0].length - 1]);
        if (octave_number !== octave) {
            change_octave(octave_number);
            octave = octave_number;
        }

        let item_class = "." + note.replace(/\s/g, '.');
        $(item_class).css('background', '#585757');

        $.ajax(get_ajax_request(note_split[1]));
    });

    $(document).on('mouseout', '.c1,.c3,.c5,.c6,.c8,.c10,.c12', function () {
        let note = $(this).attr('class');
        let item_class = "." + note.replace(/\s/g, '.');
        $(item_class).css('background', 'white');
    });

    $(document).on('mouseout', '.c2,.c4,.c7,.c9,.c11', function () {
        let note = $(this).attr('class');
        let item_class = "." + note.replace(/\s/g, '.');
        $(item_class).css('background', 'black');
    });

    $(document).on('mouseup touchend', '.c1, .c3, .c5, .c6, .c8, .c10, .c12', function (e) {
        $.ajax('/off');
        let note = $(this).attr('class');
        let item_class = "." + note.replace(/\s/g, '.');
        $(item_class).css('background', 'white');
    });

    $(document).on('mouseup touchend', '.c2, .c4, .c7, .c9, .c11', function () {
        $.ajax('/off');
        let note = $(this).attr('class');
        let item_class = "." + note.replace(/\s/g, '.');
        $(item_class).css('background', 'black');
    });

    $(document).on('mouseover', '.c1, .c3, .c5, .c6, .c8, .c10, .c12', function () {
        let note = $(this).attr('class');
        let item_class = "." + note.replace(/\s/g, '.');
        $(item_class).css('background', '#E7E0DF');
    });

    $(document).on('mouseover', '.c2, .c4, .c7, .c9, .c11', function () {
        let note = $(this).attr('class');
        let item_class = "." + note.replace(/\s/g, '.');
        $(item_class).css('background', '#464646');
    });

</script>
</html>
